#tienda_manufacturers_mod .level1 {font-size:90%;margin-top:5px;}
#tienda_manufacturers_mod .level2 {font-size:80%;margin-left: 10px;background-image:none;}
#tienda_manufacturers_mod .level3 {margin-left: 10px;}
#tienda_manufacturers_mod .level4 {margin-left: 15px;}
#tienda_manufacturers_mod .level5 {margin-left: 20px;}