p {  font-family: "Courier New", Courier, mono; font-size: 12px; font-weight: normal}
a:active {  text-decoration: none}
a:hover {  text-decoration: underline}
a:link {  text-decoration: none}
a:visited {  text-decoration: underline}
td { font-family: "Courier New", Courier, mono; font-size: 12px; font-weight: normal }
.apitablename {  color: #FFFFFF}
.apitablenmbg {  background-color: 31447c; color: #31447c}
code {  font-size: 12px}
pre {  font-size: 12px}
