@charset "utf-8";

/* leftmenu styling */
div.leftmenu {
	/* border-bottom: 1px solid #ccc; */
	padding-bottom: 10px;
	margin-bottom: 5px;
}

div.leftmenu li {
	float: left;
	padding: 0;
	margin: 0;
}

div.leftmenu a,
div.leftmenu li a,
div.leftmenu span.nolink {
	cursor: pointer;
	padding: 0px 15px 15px 0px;
	/* border-right: 1px solid #ccc; */
	font-weight: bold;
	/* color: #0B55C4; */
	line-height: 12px;
	height: 12px;
	display: block;
}

div.leftmenu span.nolink {
	color: #999;
}

div.leftmenu a.active
{
	text-decoration: underline;
	color: #000;
}

div.leftmenu span.nolink.active {
	color: #000;
	/* text-decoration: underline; */
}