#tienda_checkout_pane .left20,#tienda_checkout_pane .left30,#tienda_checkout_pane .left33,#tienda_checkout_pane .left38,#tienda_checkout_pane .left50,#tienda_checkout_pane .left62{float:left;}
#tienda_checkout_pane .left20{width:19.99%;}
#tienda_checkout_pane .left30{width:29.99%;}
#tienda_checkout_pane .left33{width:33.3%;}
#tienda_checkout_pane .left38{width: 38%;}
#tienda_checkout_pane .left50{width:49.99%;}
#tienda_checkout_pane .left62{width:61.99%;}
#tienda_checkout_pane .inner{padding:0 10px;}
#tienda_checkout_pane .block{display:block;}
#tienda_checkout_pane .center{text-align: center;}
#tienda_checkout_pane .right{float: right;text-align: right;}
#tienda_checkout_pane .floatbox{border-left:1px solid #D7D7D7;border-right:1px solid #D7D7D7;overflow:hidden;}
#tienda_checkout_pane .col3 .floatbox{border:0 none;}
#tienda_checkout_pane .pad-five-left{padding:0 0 0 5px;}
#tienda_checkout_pane .marginbot{margin-bottom:10px;}
#tienda_checkout_pane .tienda_checkout_method_user_email{clear:right;float:left;width:380px;}
#tienda_checkout_pane .tienda_checkout_method{border-bottom:1px solid #e8e8e8;margin:0 0 10px;padding:0 0 5px;}
#tienda_checkout_pane #user_email_validation{clear:right;float:left;padding-top:5px;width:170px;}
#tienda_checkout_pane fieldset{border:1px dotted #999;}
#tienda_checkout_pane legend.tienda-collapse-processed{cursor:pointer;font-size:120%;font-weight:700;}
#tienda_checkout_pane .tienda-collapsed legend.tienda-collapse-processed{background-attachment:scroll;background-color:transparent;background-image:url(../images/menu-collapsed.png);background-position:0 75%;background-repeat:no-repeat;}
#tienda_checkout_pane .tienda-expanded legend.tienda-collapse-processed{background-attachment:scroll;background-color:transparent;background-image:url(../images/menu-expanded.png);background-position:0 75%;background-repeat:no-repeat;}
#tienda_checkout_method input.error{border:2px solid red;}
#tienda_checkout_method input.success{border:2px solid green;}
#tienda_checkout_method span.tienda_error{background-image:url(../images/publish_x.png);color:red;}
#tienda_checkout_method span.tienda_success{background-image:url(../images/tick.png);color:green;}
#tienda_checkout_method span.tienda_message{background-position:left center;background-repeat:no-repeat;margin-left:5px;padding-left:17px;}
#tienda_checkout_pane .col3 .contentheading{font-size:1.167em;font-weight:700;line-height:1.4;}
#tienda_checkout_pane form {margin: 0; padding: 0;}
#tienda_checkout_pane .col3 div.form_key{display:block;float:none;width:auto;}
#tienda_checkout_pane .col3 div.form_input{display:block;float:none;padding:5px;width:auto;}
#tienda_checkout_pane label.key{display:block;font-weight:700;margin-bottom:5px;}
#tienda_checkout_pane label.key span{font-weight:400;}
#tienda_checkout_pane .col3 .address_form input,.col3 .address_form select{margin-bottom:5px;}
#tienda_checkout_pane .col3 .address_form input[type=text]{width:75%;}
.col3 #billing_input_address_name,.col3 #shipping_input_address_name,.col3 #billing_input_last_name,.col3 #billing_input_address_1,.col3 #billing_input_address_2,.col3 #billing_input_city,.col3 #shipping_input_last_name,.col3 #shipping_input_address_1,.col3 #shipping_input_address_2,.col3 #shipping_input_city,.col3 #shipping_input_zone_id{width:200px;}
#tienda_checkout_pane .col3 .address_form select#billing_input_country_id,.col3 .address_form select#shipping_input_country_id{max-width:90%;}
.col3 .address_form select#billing_input_zone_id,.col3 .address_form select#shipping_input_zone_id{max-width:80%;}
#tienda_checkout_pane .col3 .note{line-height:1.2;margin-bottom:5px;margin-top:5px;padding:2px 5px;text-align:center;}
#tienda_checkout_pane .col3 .button{margin-top:5px; padding: 2px;}
#tienda_checkout_pane .hidden,#tienda_checkout_pane .tienda-collapsed div{display:none;}
#tienda_checkout_pane .col3 #user_email_validation,#tienda_checkout_pane .col3 #user_email_validation{clear:both;float:none;width:auto;}
#cartitems_header{background: none repeat scroll 0 0 #E8E8E8; margin-bottom: 10px; padding: 5px;}
#cartitems_header span {font-weight: bold; font-size: 1.087em;} 
#onCheckoutCart_wrapper span.header {font-weight: bold; font-size: 1.083em; display: block;}
#tienda_comments #customer_note {width: 94.5%;}
.col3 #onCheckoutCart_wrapper .cart_item_list {border-bottom: 1px solid #E8E8E8;}
/* OPC layout */	
#tienda_checkout_pane .opc-customer-billship-address{float:left;width:33.3%;}

#tienda_checkout_pane .right-side{}

/* this is defined in tienda.css as min-height: 50px */
div#payment_form_div{min-height:0px;}

#tienda_checkout_pane .opc-method{float:left;width:33.3%;}

#tienda_checkout_pane .opc-review-place-order{float:right;width:66.7%;}

a.img_tooltip{position:relative;}
a.img_tooltip:hover{z-index:25;cursor:default;}
a.img_tooltip span{
	display: none;position:absolute;top:1em;left:1em;
	/* formatting */
	width:225px;height:35px;font-size:12px;background-color:#FFFFDD;border:1px solid #DDDDBB;border-collapse:collapse;border-spacing:0;margin-bottom:0px;margin-top:0px;padding:10px;text-align:justify; 
}
a.img_tooltip span.img_tooltip_left{
	display: none;position:absolute;top:1em;left:-18em;
	/* formatting */
	width:200px;height:35px;font-size:12px;background-color:#FFFFDD;border:1px solid #DDDDBB;border-collapse:collapse;border-spacing:0;margin-bottom:0px;margin-top:0px;padding:10px;text-align:justify; 
}
a.img_tooltip:hover span{display:block;}

    
/* OPC layout end */
















