div.reset {
    clear: both;
}

/** BREADCRUMB **/
div#tienda_breadcrumb {
    margin-bottom: 15px;
}
/** PRODUCT BROWSING **/
div#tienda_category_header {
	padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
}

div#tienda_category_header img {
	vertical-align: middle;
	padding: 5px;
	max-height: 75px;
}

div#tienda_category_header span {
    vertical-align: middle;
    font-size: 1.8em;
}

div#tienda_subcategories {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
}

div#tienda_products span.title {
    font-weight: bold;	
}	

div#tienda_products div#products_footer {
	border-top: 1px solid #cccccc;
    margin-top: 5px;
    padding-top: 5px;
}

div#tienda_products div#products_footer div#results_counter {
	float: right;
	padding: 5px;
}

div#tienda_subcategories h3 {
	padding: 0 10px;
    margin-bottom: 0px;
}

div.subcategory {
	float: left;
    text-align: center;
    width: 100px;
    height: 80px;
    padding: 10px;
    margin-bottom: 5px;
}

/** PRODUCT VIEW **/
div.pao {
	padding-bottom: 2px;
}

div#product_quantity_input span.title {
    vertical-align: middle; 
    font-weight: bold;
}
div#product_attributeoptions {
    text-align: left;
}

div#tienda_product_header {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    padding: 5px;
}

div#tienda_product_header span.product_name {
    vertical-align: middle;
    font-size: 1.8em;
}

div#tienda_product_header span.title {
    font-weight: bold;  
}

div.product_image {
    text-align: center;
    width: 100px;
    font-size: .9em;
    float: left;
}

div.product_name span {
    font-size: 1.8em;
    font-weight: bold;
    margin-right: 15px;
}

div#product_description {
    margin-top: 10px;
}

.tienda_header {
    margin-top: 10px;
    border-bottom: 1px solid #cccccc;
}

.tienda_header span {
    font-size: 1.5em;
    padding: 5px 0;
    margin-bottom: 10px;
}

div.currency {
	font-weight: bold;
	float:right;	
}

span.product_name {
    font-weight: bold;
}

div.product_buy {
    font-size: 1.3em;
    vertical-align: middle;
    text-align: center;
    float: right;
    padding: 10px;
}

img.addcart {
    cursor: pointer;
}

/** SHARED **/

table.adminlist {
	padding: 5px;
	width: 100%;
	margin: 5px 0px 10px 0px;
	border-collapse: collapse;
}

table.adminlist th {
	white-space: nowrap;
	vertical-align: top;
	padding: 5px;
}

table.adminlist thead th {
	background-color: #e5e5e5;
	text-align: center;
}

table.adminlist tbody th { 
	font-weight: bold;
	border-bottom: 1px solid #e5e5e5;
}

table.adminlist td {
	border-bottom: 1px solid #e5e5e5; 
	padding: 5px;
	vertical-align: middle;
}

/** filter lines **/
table.adminlist thead tr.filterline th {
	background: none;
	border-bottom: 1px solid #e5e5e5;
	vertical-align: bottom;
}

tr.filterline div.range {
	width: 100%;
	text-align: left;
}

tr.filterline div.range div.rangeline {
	width: 100%;
	white-space: nowrap;
	padding-bottom: 2px;
	text-align: right;
}

tr.filterline div.range div.rangeline span.label {
	text-align: left;
}

tr.filterline div.range div.rangeline .input {
	text-align: left;
}

/** common **/
span.href {
	cursor: pointer;
	color: blue;
	text-decoration: none;
	padding-left: 10px;
	font-weight: bold;
}
span.href:hover {
	cursor:pointer;
	color: blue;
	font-weight: bold;
	text-decoration: underline;	
}

/** notes **/
.note 
{
	background-color: #FFFFDD;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: justify;
	border: 1px solid #DDDDBB;
	border-spacing: 0px;
	border-collapse: collapse;
}

.note_pink 
{
	background-color: #FDE8FD;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: justify;
	border: 1px solid #FFCCCC;
	border-spacing: 0px;
	border-collapse: collapse;
}

.note_green 
{
	background-color: #EBF6DF;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: justify;
	border: 1px solid #289728;
	border-spacing: 0px;
	border-collapse: collapse;	
}

/** custom **/
.label {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	font-weight: bold;
}

/**checkout **/
div.address {
	float:left;
	padding: 10px;
}

div.progressbar{
	width:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;	
	margin-bottom:10px;
}

div.progressbar span.step{
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;	
}

div.progressbar span.current-step{
	font-weight:bold;	
}

div#order_shop_info{
	float: right;
	width:250px;
}

div.shipping_rates{
	margin-left:20px;
}