/* helpers */ 
div.reset{clear:both;}
.note{background-color:#FFFFDD;border:1px solid #DDDDBB;border-collapse:collapse;border-spacing:0;margin-bottom:10px;margin-top:5px;padding:10px;text-align:justify;}
.note_pink{background-color:#FDE8FD;border:1px solid #FFCCCC;border-collapse:collapse;border-spacing:0;margin-bottom:10px;margin-top:5px;padding:10px;text-align:justify;}
.note_green{background-color:#EBF6DF;border:1px solid #289728;border-collapse:collapse;border-spacing:0;margin-bottom:10px;margin-top:5px;padding:10px;text-align:justify;}
.alert{font-size:13px;font-weight:bold;padding:10px;text-transform:uppercase;}
.label{font-weight:bold;margin-bottom:5px;margin-right:5px;margin-top:5px;}
.rowDiv{float:left;width:100%;}
.userName{float:left;font-weight:bold;padding-right:10px;text-decoration:underline;width:auto;}
.commentsDiv{float:left;padding:5px 0 10px;width:100%;}
.rowPaddingDiv{float:left;padding:10px 0;width:100%;}
.share_review{display:block;float:left;}
.commentsDiv1{border-bottom:1px solid #cccccc;float:left;padding:5px 0 10px;width:100%;}

/* Gray DIV while loading AJAX */ 
.tiendaAjaxGrayDiv{	position : absolute; top : 0px;	left : 0px;	width : 100%;	height : 100%;	z-index : 9999;	background : url(../images/ajax_background.png);}
.tiendaAjaxGrayDiv img{	position : absolute !important; top : 50%;	left : 50%; margin-left : -8px; margin-top : -8px; }
.tiendaAjaxGrayDiv div.text{ position : absolute !important; top : 50%;	left: 0px; margin-top : 12px;  text-align : center; width : 100%; color : black; }

/* category headers */ 
div#tienda_category_header{border-bottom:1px solid #cccccc;margin-bottom:10px;padding-bottom:5px;padding-top:5px;}
div#tienda_category_header img{max-height:75px;padding:5px;vertical-align:middle;}

/* sub-categories */ 
div#tienda_subcategories{border-bottom:1px solid #cccccc;margin-bottom:10px;}
div#tienda_subcategories h3{margin-bottom:0;padding:0 10px;}
div.subcategory img{max-height:96px;}
div.subcategory{background:none!important;background-image:none!important;float:left;margin:5px 0 15px;min-height:128px;padding-left:30px;text-align:center;}


/* products */ 
div#tienda_products div#products_footer{border-top:1px solid #cccccc;margin-top:5px;padding-top:5px;}
div#tienda_products div#products_footer div#results_counter{float:right;padding:5px;}
div#tienda_products{font-size:smaller;}
div#tienda_products div.product_item{border-bottom:1px solid #cccccc;margin-bottom:10px;padding-bottom:5px;}
div#tienda_products div.product_thumb{float:left;margin:0 5px 5px 0;min-width:15%;text-align:center;}
div#tienda_products div.product_buy{max-width:25%;}
div#product_quantity_input span.title{font-weight:bold;vertical-align:middle;}
div#product_attributeoptions{text-align:right;}
div#tienda_product_header{border-bottom:1px solid #cccccc;margin-bottom:20px;padding:5px;}
div.product_listimage img{max-width:96px;}
div.pao{padding-bottom:2px;}
div.product_image{float:left;text-align:center;}
div.product_name span{font-size:1.8em;font-weight:bold;margin-right:15px;}


.tienda_header{border-bottom:1px solid #cccccc;margin-bottom:3px;margin-top:10px;padding:5px 0;}
.tienda_header span{font-size:1.5em;margin-bottom:10px;padding:5px 0;}
div.currency{float:right;font-weight:bold;}
.default div.product_buy{float:right;font-size:1.3em;padding:10px;text-align:center;vertical-align:middle;}
.view div.product_buy{float:right;font-size:1.3em;padding:10px;text-align:right;vertical-align:middle;width:65%;}
img.addcart{cursor:pointer;}
div.product_rating,div.product_rating img{padding:3px 0 2px;vertical-align:middle;}
.product_gallery_thumb img{border:none;float:left;margin:10px 10px 0 0;max-width:75px;}

/* tables */ 
table.adminlist{border-collapse:collapse;margin:5px 0 10px;padding:5px;width:100%;}
table.adminlist th{padding:5px;vertical-align:top;white-space:nowrap;}
table.adminlist thead th{background-color:#e5e5e5;text-align:center;}
table.adminlist tbody th{border-bottom:1px solid #e5e5e5;font-weight:bold;}
table.adminlist td{border-bottom:1px solid #e5e5e5;padding:5px;vertical-align:middle;}
table.adminlist thead tr.filterline th{background:none;border-bottom:1px solid #e5e5e5;vertical-align:bottom;}
tr.filterline div.range{text-align:left;width:100%;}
tr.filterline div.range div.rangeline{padding-bottom:2px;text-align:right;white-space:nowrap;width:100%;}

span.href{color:blue;cursor:pointer;font-weight:bold;padding-left:10px;text-decoration:none;}
span.href:hover{color:blue;cursor:pointer;font-weight:bold;text-decoration:underline;}

div.address{float:left;padding:10px;}
div.progressbar{margin-bottom:10px;margin-left:auto;margin-right:auto;text-align:center;width:auto;}
div.progressbar span.step{margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px;}
div#order_shop_info{float:right;width:250px;}
div.shipping_rates{margin-left:20px;}
div#shipping_form_div{padding-left:30px;}
div.productrelation{display:block;float:left;min-height:150px;width:20%;}
div.productrelation_item{margin:auto;text-align:center;}


/* search filters */ 
div#tienda_searchfilters{border-bottom:thin solid #CCCCCC;margin-bottom:10px;}
div#searchresults_results div.product_item,div#searchresults_sort{border-bottom:thin solid #CCCCCC;display:block;float:left;margin-bottom:10px;padding-bottom:10px;width:100%;}
div#searchresults_results div.product_thumb{display:block;float:left;text-align:center;width:15%;}
div#searchresults_results div.product_info{display:block;float:left;width:65%;}
div#searchresults_results div.product_buy{display:block;float:right;width:15%;}
div#searchresults_sort div.sortresults{float:left;padding:10px;vertical-align:middle;}
div#searchresults_sort div.sortresults img{vertical-align:middle;}
div#tienda_searchfilters div.row{float:left;margin-bottom:5px;vertical-align:top;width:100%;}
div#tienda_searchfilters div.row span.label{display:block;float:left;margin:0!important;width:200px;}
div#tienda_searchfilters div.row div.range div{margin-bottom:5px;}
div#tienda_searchfilters div.row div.range span.label{width:75px!important;}
div#tienda_searchfilters div.row input.text_area{width:250px;}
div#tienda_searchfilters div.row select{width:255px;}
div#tienda_searchfilters div.submit{margin-left:200px;}

/* product compare */ 
#tiendaProductCompare a{position:relative;top:-4px;}
#tiendaProductCompare span.arrow{color:#F00;font-size:130%;font-weight:bold;}
#tiendaProductCompareScroll{height:100%;overflow-x:auto;overflow-y:hidden;padding-bottom:3px;width:100%;}
#tiendaProductCompareScroll table td{padding:5px;}
#tiendaProductCompareScroll table tr.row1{background-color:#E6E6E6;}
#tiendaProductCompareScroll table a.close-img{display:block;float:right;margin-left:-15px;padding:2px;}
#tiendaProductCompareScroll table td.border-left{border-left:1px dotted #666;padding-right:10px;}
#tiendaProductCompareScroll span.arrow{color:#F00;}

/* tabs */ 
dl.tabs{float:left;margin:10px 0 -1px;z-index:50;}
dl.tabs dt{background:#f0f0f0;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;color:#666;float:left;margin-left:3px;padding:4px 10px;}
dl.tabs dt.open{background:#F9F9F9;border-bottom:1px solid #F9F9F9;color:#000;z-index:100;}
div.current{border:1px solid #ccc;clear:both;padding:10px;}
div.current dd{margin:0;padding:0;}

/* forms */ 
div.form_item{clear:both;float:left;margin-bottom:2px;width:100%;}
div.form_key{display:inline;float:left;font-weight:bold;padding:7px;vertical-align:middle;width:20%;}
div.form_input{display:inline;float:left;padding:7px;vertical-align:middle;width:45%;}
div.form_message{display:inline;float:left;padding:7px;vertical-align:middle;width:25%;}
div.tienda_validation,div.tienda_validation img{float:left;vertical-align:middle;}
span.validation-fail{color:#FF0000;padding-left:5px;}
span.validation-success{color:#088A08;padding-left:5px;}
div#payment_form_div{
	min-height : 50px;
}

div#tienda_breadcrumb,div#tienda_pricefilter{margin-bottom:15px;}
div#tienda_category_header span,div#tienda_product_header span.product_name{font-size:1.8em;vertical-align:middle;}
div#tienda_products span.title,div#tienda_product_header span.title,span.product_name,div#product_recurs span.title,div.product_listprice span.title,div.progressbar span.current-step,div#searchresults_sort div.title{font-weight:bold;}
div#product_description,#tiendaProductCompare{margin-top:10px;}
tr.filterline div.range div.rangeline span.label,tr.filterline div.range div.rangeline .input{text-align:left;}
div.prepayment_message,div.prepayment_action{padding:10px;}
.dateDiv,.leftAlignDiv{float:left;width:auto;}
.customerRating,.rightAlignDiv{float:right;width:auto;}
div#tienda_searchfilters div.row div.range,div.product_facebook_like,div.product_tweet,div.product_google_plus1,.inputbox_required{float:left;}
div.product_share_buttons,div.product_like{float:right;}