.marginbot {
	margin-bottom: 10px;
}

#tienda_checkout_pane fieldset
{
	border: 1px dotted #999;	
}

#tienda_checkout_pane legend.tienda-collapse-processed
{
	font-size: 120%;
	font-weight: bold;	
	cursor: pointer;
}

#tienda_checkout_pane .tienda-collapsed legend.tienda-collapse-processed
{
	background-attachment: scroll;
    background-color: transparent;
    background-image: url("../images/menu-collapsed.png");
    background-position: 0 75%;
    background-repeat: no-repeat;      
}

#tienda_checkout_pane .tienda-expanded legend.tienda-collapse-processed
{
	background-attachment: scroll;
    background-color: transparent;
    background-image: url("../images/menu-expanded.png");
    background-position: 0 75%;
    background-repeat: no-repeat;     	
}

#tienda_checkout_pane .tienda-collapsed div
{
	display: none;
}

#tienda_checkout_method input.error
{
	border: 2px solid #FF0000;
}

#tienda_checkout_method input.success
{
	border: 2px solid #008000;
}

#tienda_checkout_method span.tienda_error
{
	color: #FF0000;
	background-image: url("../images/publish_x.png");
}

#tienda_checkout_method span.tienda_success
{
	color: #008000;
	background-image: url("../images/tick.png");

}

#tienda_checkout_method span.tienda_message
{
	margin-left: 5px;
	padding-left: 17px;
	background-position: left center;
    background-repeat: no-repeat;
}